.fb_btn_error {
	color: red;
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 25px 15px 25px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-color: #FFBABA;
}

.btn_fb_subscribe {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_fb_subscribe:before {
	content: "Subscribe";
}

.btn_fb_subscribe:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.btn_fb_subscribed {
  background: #34d947;
  background-image: -webkit-linear-gradient(top, #34d947, #2bb83b);
  background-image: -moz-linear-gradient(top, #34d947, #2bb83b);
  background-image: -ms-linear-gradient(top, #34d947, #2bb83b);
  background-image: -o-linear-gradient(top, #34d947, #2bb83b);
  background-image: linear-gradient(to bottom, #34d947, #2bb83b);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_fb_subscribed:before {
	content: "Subscribed!";
}

.btn_fb_subscribed:hover {
  background: #fc3c3c;
  background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
  background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
  background-image: linear-gradient(to bottom, #fc3c3c, #d93434);
  color: #ffffff;
  cursor: pointer;
}

.btn_fb_subscribed:hover:before {
	content: "Unsubscribe";
}
